@import "css/UniversLTStd-Roman.css";
@import "css/UniversLTStd-Bold.css";
@import "css/nouislider.min.css";
@import "css/roundslider.min.css";

body {
  font-family: 'UniversLTStd';
  padding: 40px;
  margin: 0;
  background-color: rgb(60,60,60);
  color: white;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  position: relative;
}

.navigation {
  position: absolute;
  top:0;
  left:0;
  font-size: 40px;
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation li {
  cursor: pointer;
  position: relative;
}

.navigation li.active:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 21px;
  left: -17px;
}

.tab {
  display: none;

}

.tab.active {
  display: block;
}

.description {
  width: 250px;
  position: absolute;
  bottom: 0;
  margin-top: 80px;
}

.description p {
  margin-bottom: 0;
}

.control {
  right: 0;
  top: 0;
  position: absolute;
  transform: translate3d(0, 0, 0);
}


.movementsControl {
  /* left: 300px; */
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(4, auto);
}


.rs-tooltip-text {
  font-family: inherit;
}

.rs-control .rs-range-color {
  background-color: #dedede;
}

.rs-control .rs-path-color {
  background-color: #868686;
}

.rs-control .rs-handle {
  background-color: #ffffff;
}

.rs-control .rs-bg-color {
  background-color: rgb(60, 60, 60);
}